* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    
/* position: absolute; */
/* top: 1rem; */
height: 851px;
left: 0px;
right: 2px;
background: #252B42;
}

#logo {
    position: absolute;
    width: 187px;
    height: 58px;
    left: 35px;
    top: 20px;
    left: calc(50% - 187px/2 - 431.5px);
    color: #ffff;
    letter-spacing: 0.1px;


    font-family: "Martel";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

ul {
    position: absolute;
    width: 373px;
    height: 24px;
    left: calc(50% - 373px/2 + 310.5px);
    top: 40px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

ul, li, a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    padding: 0px;
    gap: 21px;
    top: 1.4rem;
    left: calc(50% - 100px/2 - 46.5px);
}



.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 80px;

    position: absolute;
    width: 1046px;
    height: 747px;
    left: calc(50% - 1046px/2);
    top: 104px;
}

.main-content {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 40px;

    width: 860px;
    height: 411px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

h1 {
    width: 862px;
    height: 143px;

    /* h1 */
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 0.62;
    flex: none;
    order: 0;
    flex-grow: 0;
}

H4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 0.1rem;
}

.hero-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 347px;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.btn1 {
    align-items: center;
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px 36px;
    width: fit-content;
    margin-top: -9.5rem;
    width: 182px;
    height: 48px;
    background: #D0A144;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn1 .btn1-txt {
    width: 110px;
    height: 28px;

    /* btn-text */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn2 {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;

    margin-top: -9.5rem;
    width: 155px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 37px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn2 .btn2-txt {
    width: 83px;
    height: 28px;

    /* btn-text */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    top: 34.5rem;
    gap: 30px;
    width: 1049px;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.product{
    position: absolute;
    height: 29.625rem;
    left: 0px;
    right: 2px;
    /* margin-top: 54.0625rem; */
    width: 100%;
    
    /* dark-background-color */
    background: #252B42;
}